PSQL_HOST=
PSQL_DB=
PSQL_USER=
PSQL_PASSWORD=
PSQL_PORT=

PIPEFY_PIPE_ID=
PIPEFY_FIELD_CLIENTE_NOME=
PIPEFY_FIELD_CLIENTE_EMAIL=
PIPEFY_FIELD_VALOR_PATRIMONIO=
PIPEFY_FIELD_STATUS=
PIPEFY_FIELD_PRIORIDADE=